:root{
    /* Layout */
    --grid-layout-desktop: 1fr 1fr 1fr;
    --grid-layout-mobile: 1fr 1fr;

    /* Sizing */
    --page-width-full: 100%;

    /* Coloring */
    --blackground: #000000;
    --background-dark: #0e3b53;
    --background-light: #8bcbbe;
    --background-cream:  #ead9c3;
    --text-light: #ffffff;

    /* Typography */
    --font-size-large: 32px;
    --font-main: 'Georama';
    --font-header: 'Gloock';
    --font-footer: 'IBM';

    /* Spacing */
    --letter-spacing-standard: 0.05rem;
    --padding-standard: 10px;
    --padding-small: 5px;
    --padding-disabled: 0px;
    --offset-left: 8%;
    --introduction-max-width: 73%;
    --margin-disabled: 0;

    /* Miscellaneous */
    --page-overflow: hidden;
}

@font-face {
    font-family: 'Georama';
    src:url(assets/fonts/Georama-Regular.ttf);
}

@font-face {
  font-family: 'Gloock';
  src: url(assets/fonts/Gloock-Regular.woff);
}

@font-face {
    font-family: 'IBM';
    src: url(assets/fonts/IBMPlexSansCondensed-Regular.woff);
}

body {
    margin: var(--margin-disabled);
    padding: var(--padding-disabled);
    letter-spacing: var(--letter-spacing-standard);
    overflow-x: hidden;
}
.title {
    color: var(--background-dark);
    font-family: var(--font-header);
    margin: var(--margin-disabled);
    padding: var(--padding-standard);
    width: var(--page-width-full);
    background-color: var(--background-light);
}

.about {
    color: var(--blackground);
}

.about:hover {
    color: var(--background-dark);
}

.introduction-container {
    margin: var(--margin-disabled);
    font-family: var(--font-header);
    background-color: #ead9c3;
    padding: var(--padding-standard);
    padding-left: var(--offset-left);

    & .introduction-header{
        padding-left: var(--offset-left);
        font-size: var(--font-size-large);
    }
  
    & .introduction {
        margin: var(--margin-disabled);
        font-family: var(--font-header);
        background-color: var(--background-cream);
        padding: var(--padding-standard);
        padding-left: var(--offset-left);
        max-width: var(--introduction-max-width);
    }
}

.main-title {
    margin: var(--margin-disabled);
    color: var(--text-light);
    text-align: center;
    font-family: var(--font-main);
    font-size: var(--font-size-large);
    background-color: var(--background-dark);
}

.idea-catalogue {
    display: grid;

    grid-template-columns: var(--grid-layout-desktop);
}

footer {
    margin: var(--margin-disabled);
    background-color: var(--blackground);
    padding: var(--padding-standard);

    & .footer-title {
        margin: var(--margin-disabled);
        font-family: var(--font-footer);
        font-size: var(--font-size-large);
        color: var(--text-light)
    }
}